# Flake8 configuration file.
#
# For more information, visit
# https://flake8.pycqa.org/en/latest/user/configuration.html.

[flake8]
application-import-names = canvas
docstring-convention = google
exclude = **/jupyter_notebook_config.py
ignore = D202
import-order-style = google
max-complexity = 10
max-line-length = 80
per-file-ignores =
    scripts/*:B008
